:root{
    --cor-fundo:#4835a0;
    --cor-principal:#515096;
    --cor-segundaria:#9e8ac4;
    --cor-destaque:#000000;
    --cor-texto:#42104d;
    
}
body{
background-color: var(--cor-fundo);
color: var(--cor-texto);

display: flex;
justify-content: center;
align-items: center;

margin: 0;
padding: 0;
min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    opacity: 0.8;
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
h1{
    color: var(--cor-destaque);
}
button{ 
    background-color: var(--cor-segundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0,3s;
    margin: 10px;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}